<div class="container flex">
<div class="featured-article">
  <%= image_tag "featured-image.jpg", class: "featured-mage" %>
  <div class="featured-text">
  <h1>
    <a class="featured-text_title">Featured Article</a>
  </h1>
  <div class='featured-text_caption'>This is the caption of the featured article . . .</div>
  </div>
</div>
<div class="categories grid">
  <div class="category-priority">
    <%= image_tag "scrabble.png", class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag "soccer.webp", class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag "https://gtimg.tokyo2020.org/image/private/t_article-image-desktop/production/pck9crn8fmdfrxqbo2kt", class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag "https://www.ivacy.com/blog/wp-content/uploads/2016/08/watch-soccer-olympics.jpg", class: "categories-image" %>
  </div>
</div>
</div>
