<div class="container flex">
<div class="featured-article grid">
  <%= image_tag @featured.image, class: "featured-mage" %>
  <div class="featured-text">
  <h1>
    <%= link_to @featured.title, @featured, class: 'featured-text_title'%>
  </h1>
  <div class='featured-text_caption'><%= @featured.text[0..100] %></div>
  </div>
</div>
<div class="categories grid">
  <div class="category-priority">
    <%= image_tag @first.image, class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag @second.image, class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag @third.image, class: "categories-image" %>
  </div>
  <div class="category-priority">
    <%= image_tag @fourth.image, class: "categories-image" %>
  </div>
</div>
</div>
