<p id="notice"><%= notice %></p>
  <div class='container'>
    <div class="container-article grid">
      <%= image_tag @article.image, alt: 'Article image', class: 'article-image' %>
      <div class="article-single">
        <div class="author-single">
          <span>Author: </span> <%= author_name(@article) %>
        </div
        <div class="article-single-text">
          <%= @article.text %>
          <% @article.comments.each do |comment| %>
            <p>Comment: <%= comment.text %><p>
            <span>Author: </span> <%= author_comment(comment) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
