<!DOCTYPE html>
<html>
  <head>
    <title>Olympics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class='flex'>
    <%= image_tag "olympics.png", class: "navbar-image" %>
    <div class="category">
      <a href="#">Home</a>
      <a href="#">Athletics</a>
      <a href="#">Soccer</a>
      <a href="#">Board Games</a>
      <a href="#">Boxing</a>
    </div>
    <div class="account">
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </nav>
  <div class="ribbon flex">
    <div class="red-ribbon">
    </div>
    <div class="gray-ribbon">
    </div>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>