<!DOCTYPE html>
<html>
  <head>
    <title>Olympics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class='flex'>
    <%= image_tag "olympics.png", class: "navbar-image" %>
    <div class="category">
      <a href="#">Home</a>
      <a href="#">Athletics</a>
      <a href="#">Soccer</a>
      <a href="#">Board Games</a>
      <a href="#">Boxing</a>
    </div>
    <div class="account">
      <%= navbar_link_name %>
      <%= navbar_link_logout %>
      <%= navbar_link_login %>
      <%= navbar_link_sign_up %>
    </div>
  </nav>
  <div class="ribbon flex">
    <div class="red-ribbon">
    </div>
    <div class="gray-ribbon">
    </div>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
    <%= yield %>

    <footer class='flex'>
      <%= image_tag "olympics.png", class: "navbar-image" %>
      <div class="terms">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Copyright 2021. All Rights Reserved.</a>
      </div>
      <div class="account">
        <a href="#">Connect with us:</a>
        <i class="social-icon link-orange fab fa-twitter"></i>
        <i class="social-icon link-orange fab fa-instagram"></i>
        <i class="social-icon link-orange fab fa-facebook"></i>
      </div>
    </footer>
  </body>
</html>